/* Стили */

:root
{
    --top-color: #2b2c32;
    --hover-top-color: #514f4f;
}

.smile-content
{
	display: inline-block!important;
	margin: 3px!important;
}

.smile-content img[role="presentation"]
{
	max-height: 28px;
	max-width: 28px;
	white-space: unset!important;
}

.tabs li.active a, .tabs.no-links li.active
{
	padding-bottom: 0px!important;
}

.node .content-info
{
	overflow: hidden;
}

.content-list .content-list .node .content-info
{
	overflow: visible!important;
}

fullpage
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	color: #fff;
	transition: opacity .3s;
	
	opacity: 0;
	margin-top: -1000%;
}

fullpage { z-index: 10000; }


backfon
{
	width: 100%;
	height: 100%;
	
	position: fixed;
	
	background: rgba(0, 0, 0, .7);
	transition: opacity .3s;
	
	opacity: 0;
}

[backfirst] { margin-top: -1000%; z-index: 10001; }
[backsecond] { margin-top: -1000%; z-index: 10003; }
[backthird] { margin-top: -1000%; z-index: 10005; }
[backlast] { margin-top: -1000%; z-index: 10099; }

fullpage *
{
	display: flex;
}

fullpage > *:not(backfon)
{
	position: absolute;
	
	width: 600px;
	height: auto;
    max-height: 85%;
	border-radius: 3px;
	
	background: #121215;
	
	flex-direction: column;
	transition: opacity .3s;
	
	opacity: 0;
}

fullpage.open, fullpage > *.open
{
	opacity: 1;
}

fullpage.margin, fullpage > *.margin
{
	margin-top: 0;
}

[first] { margin-top: -1000%; z-index: 10002; }
[second] { margin-top: -1000%; z-index: 10004; }
[third] { margin-top: -1000%; z-index: 10006; }
[last] { margin-top: -1000%; z-index: 10100; }

fullpage top
{
	background: var(--top-color);
	border-radius: 3px;
	
	margin: 6px;
	padding: 10px;
	font-size: 16px;
	
	justify-content: space-between;
	align-items: center;
}

fullpage close, fullpage remove
{
	border-radius: 3px;
	padding: 3px;
	margin: 0 3px;
	background: #121215;
}

fullpage middle
{
	height: auto;
	flex-direction: column;
	overflow: hidden;
	
	padding: 10px 16px;
}

@media (max-width: 600px)
{
	smiles, changepassword, asett, asettchat, chan, userstyles
	{
		width: 100%;
		height: 100%;
	}
	
	alert, savetouser, wellcome
	{
		width: 100%;
	}
	
	fullpage middle
	{
		overflow: auto;
	}
	
	pages page
	{
		width: 100%!important;
	}
}

fullpage pages
{
	padding: 10px 16px;
	justify-content: space-between;
	flex-flow: row wrap;
    font-size: 12px;
}

pages page
{
	width: 40%;
	height: 39px;
	padding: 0px 9px;
	margin: 3px;
	border-radius: 3px;
	background: var(--top-color);
	justify-content: center;
	align-items: center;
    font-size: 11px;
}

pages page[onclick]
{
    cursor: pointer;
}

pages page[onclick]:hover
{
    background: var(--hover-top-color);
}

pages page.fullstroke
{
	width: 100%;
}

.fullstroke gotcha
{
	width: 100%;
	padding: 9px;
	padding-left: 5px;
}

pages page .page-centered
{
	display: flex;
	align-items: center;
	justify-content: center;
}

fullpage bottom
{
	flex-direction: row;
	padding: 0px 16px 10px;
	justify-content: space-between;
}

fullpage bottom left > *
{
	margin-right: 6px;
}

finder
{
	flex-direction: row;
	align-items: center;
	margin-bottom: 6px;
}

saveto finder
{
	justify-content: space-between;
}

fullpage input[name='name']
{
	width: 100px!important;
}

fullpage input[name="tab"]
{
	width: 125px!important;
}

/* Перекрываем стили как можем ей богу */
fullpage input:not([mode="withoutfone"]), fullpage textarea
{
	margin: 0 5px 0 0!important; /* Особенно это */
	height: 29px!important;
	line-height: 29px!important;
    border-radius: 4px!important;
	border: 1px solid #343434;
	background-color: #000;
	color: #989899!important;
}

fullpage textarea
{
	height: 200px!important;
	max-height: 200px;
    word-break: break-all;
}

fing
{
	height: 27px!important;
    line-height: 25px;
    border-radius: 4px!important;
	color: #a8b5ba!important;
    background-color: #000!important;
    padding: 0px 7px!important;
    border: 1px solid #343434!important;
	opacity: 1;
    
	cursor: pointer;
    transition: all .3s;
}

fing[not-overflow]
{
    overflow: hidden;
}

fing:hover
{
	background-color: #343434!important;
}

fullpage smile-settings
{
	display: none;
}

information img
{
	width: 150px;
	height: 150px;
}

fullpage pass
{
	width: 100%;
    padding-left: 6px;
    flex-direction: column;
	
	justify-content: center;
}

fullpage pass > *
{
	align-items: center;
}

fullpage pass t
{
	padding: 3px 9px;
	border-radius: 3px;
	margin: 3px 6px 3px 0;
	background: var(--top-color);
}

fullpage pass confirmation
{
	padding: 3px;
	margin: 3px 6px 3px 0;
}

fullpage pass fing
{
	width: 120px;
	justify-content: center;
}

smile-list
{
	flex-direction: column;
    padding-right: 6px;
	height: 100%;
	overflow-y: scroll;
    overflow-x: hidden;
}

smile-list tab
{
	flex-direction: column;
	margin-bottom: 5px;
}

smile-list tab.minimized list
{
	display: none;
}

smile-list tab list
{
	margin-left: 20px;
	position: relative;
}

smile-list tab list:before
{
	content: '';
	
    left: -10px;
    bottom: 0;
	
    width: 1px;
    height: 41px;
	
    background: var(--top-color);
    position: absolute;
}

smile-list tab list:last-child:before
{
	content: '';
	
    top: -6px;
	left: -10px;
	
    width: 1px;
    height: 23px;
	
    background: var(--top-color);
    position: absolute;
}

smile-list tab list:after
{
	content: '';
	
    bottom: 0;
    top: 16px;
    left: -10px;
	
    width: 10px;
    height: 1px;
	
    background: var(--top-color);
    position: absolute;
}

smile-list hit
{
	font-size: 14px;
    justify-content: space-between;
    align-items: center;
    background: rgb(43, 44, 50);
    border-radius: 3px;
    margin: 0 3px 3px 0;
    padding: 2px 10px;
}

smile-list list
{
	margin: 3px 0;
	transition: all .4s;
	opacity: 0;
	max-height: 0px;
}

smile-list list.created
{
	opacity: 1;
	max-height: 100px;
}

smile-list list img
{
	max-height: 28px;
	max-width: 28px;
}

smile-list list > *
{
	background-color: #000;
	margin: 0 3px;
    border: 1px solid #343434;
	border-radius: 4px;
    padding: 2px 7px!important;
}

smile-list list > *:first-child
{
	margin: 0 3px 0 0;
}


smile-list list > *:last-child
{
	margin: 0 0 0 3px;
}

list input[name="name"]
{
	width: 84px;
}

list input[name="value"]
{
	width: 100%;
	align-items: center;
}

list red, list del
{
	width: 25px;
	
	display: flex!important;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	text-decoration: none;
}

list red:hover, list del:hover
{
	background-color: #343434!important;
}

chan middle 
{
	align-items: center;
}

chan canedit
{
	width: 100%;
	justify-content: center;
    padding: 5px;
    margin: 6px 0;
    border-radius: 3px;
	background: radial-gradient(circle, rgba(0,101,22,1) 0%, rgba(0,0,0,0) 100%);
	
	cursor: pointer;
	
	transition: background .3s;
}

chan canedit.false
{
    background: radial-gradient(circle, rgba(101,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

chan helper
{
	text-align: center;
}

chan canedit.false ~ finder[name='hiddly']
{ max-height: 0px }

chan finder
{
	max-height: 100px;
	width: 100%;
	overflow: hidden;
	
	transition: all .3s;
}

chan input
{
	width: 50%!important;
	border: none!important;
}

chan finder input:first-child
{
	text-align: right;
	background:  linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)!important;
}

chan finder input:last-child
{
	text-align: left;
	margin: 0!important;
	background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)!important;
}

quotebutton
{
	padding: 5px 10px;
    border-radius: 4px;
	color: #a8b5ba;
    background-color: #000;
    border: 1px solid #343434;
	
	cursor: pointer;
}

asett page[tab] input[name="index"]
{
	width: 45px;
}

asett middle
{
	overflow: auto;
}

fullpage input[mode="withoutfone"]
{
	margin: 5px!important;
	margin-left: 0px!important;
	border: none!important;
	outline: none!important;
	color: #eee!important;
	background: none!important;
	height: 29px!important;
	border-radius: 3px;
	
	transition: all .3s;
}


fullpage input[mode="withoutfone"]:focus
{
    background: #121215!important;
}

smiles finder input[mode="withoutfone"]:focus
{
    background: #0e0e0e!important;
}

category
{
	flex-direction: column;
    position: relative;
}

category listed
{
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    padding: 5px;
	background: #000;
    border-radius: 3px;
    z-index: 10000;
    width: 150%;
	overflow: hidden;
	transition: .4s;
	
	max-height: 0;
	opacity: 0;
}

category listed > *
{
	border-radius: 3px;
	padding: 6px 9px;
	margin: 3px 0;
	border: 1px solid #343434;
	
	cursor: pointer;
}

smiles finder category:hover listed 
{
	max-height: 600px;
	opacity: 1;
}

wellcome
{
	padding: 10px;
    align-items: center;
    text-align: center;
}

wellcome qn
{
	max-height: 0px;
	opacity: 0;
	transition: .4s;
}


alemg
{
	position: fixed;
	display: flex!important;
	top: 0;
	left: 0;
	
	align-items: center;
	justify-content: center;
	
	width: 100vw;
	height: 100vh;
	
	z-index: 10010;
	overflow: hidden;
	
	background: rgba(0, 0, 0, .6) center center;
	background-repeat: no-repeat;
	background-size: contain;
	
	transition: .3s;
	opacity: 0;
}

alemg:before
{
	position: absolute;
	font-size: 32px!important;
	
	animation: rotate 1s linear infinite;
}

alemg.endAnimate:before
{
	opacity: 0;
}

@keyframes rotate
{
	from
	{
		transform: rotate(0deg);
	}
	
	to
	{
		transform: rotate(360deg);
	}
}

alemg img
{
	opacity: 0;
	transition: all .3s;
}

page p {
    width: 100%;
}

[userstyles]
{
    border: 1px solid #333;
    background: #3333;
    
    color: #eee!important;
    line-height: 18px!important;
    font-size: 12px;
}

bottomhelper
{
    position: fixed;
    top: 0;
    width: 100%;
    
    background: #1d1d1d;
    padding: 3px;
    
    color: #eee;
    font-size: 10px;
    z-index: 10011;
    opacity: 1;
    
    transition: all .3s;
}

bottomhelper span
{
    font-size: 9px;
    color: #ccc;
}

information.taked
{
    background: #00bfff;
    border-radius: 6px;
    padding: 8px;
    color: #fff;
    justify-content: center;
    margin-bottom: 6px;
    cursor: pointer;
}

information[savetouser]
{
    flex-direction: column;
}

smilepreview 
{
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

smilepreview sp
{
    width: 30px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px 20px;
}

smilepreview sp bgnd
{
    width: 30px;
    height: 30px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

smilepreview sp ttl {
    font-size: 11px;
    overflow: hidden;
}

savetouser middle
{
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}

changepassword ifpasschanged,
staypassword ifpasschanged
{
    border-radius: 6px;
    color: #fff;
    justify-content: center;
    margin-bottom: 6px;
    height: auto;
    
    font-size: 11px;
    
    transition: all .3s;
}

changepassword ifpasschanged:not(:empty),
staypassword ifpasschanged:not(:empty)
{
    max-height: 100px;
    padding: 8px;
    background: #00bfff;
}

changepassword ifpasschanged:empty,
staypassword ifpasschanged:empty
{
    max-height: 0px;
    padding: 0px 8px;
    background: #121215;
}

flex[row]
{
    flex-direction: row;
    align-items: center;
    margin: 4px 0px;
    padding: 2px 6px;
    background: #2b2c32;
    border-radius: 6px;
}

changepassword label[for],
staypassword label[for]
{
    flex: 1;
}

changepassword input,
staypassword input
{
    flex: 2;
    padding: 0px 10px;
    border-color: #282727!important;
    background: #121215!important;
}