/* Стили */

.smile-content
{
	display: inline-block!important;
	margin: 3px!important;
}

.smile-content img[role="presentation"]
{
	max-height: 50px;
	max-width: 50px;
	white-space: unset!important;
}

.tabs li.active a, .tabs.no-links li.active
{
	padding-bottom: 0px!important;
}

setting
{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	z-index: 10000;
	
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	background: rgba(0, 0, 0, .7);
	
	color: #fff;
	
	transition: all .4s;
}

backfon
{
	width: 100vw;
	height: 100vh;
	
	position: fixed;
	z-index: 10001;
}

setting *
{
	display: flex;
}

setting.open
{
	display: flex;
}

smiles
{
	width: 600px;
	height: auto;
	max-height: 600px;
	border-radius: 3px;
	z-index: 10002;
	
	background: #121215;
	
	flex-direction: column;
}

smiles top
{
	background: #2b2c32;
	border-radius: 3px;
	
	margin: 6px;
	padding: 10px;
	font-size: 16px;
}

smiles middle
{
	height: 100%;
	flex-direction: column;
	
	padding: 10px 16px;
}

smiles bottom
{
	flex-direction: row;
	padding: 0px 16px 10px;
	justify-content: flex-end;
}

finder
{
	flex-direction: row;
	margin-bottom: 6px;
}

finder input[name='name']
{
	width: 100px!important;
}

/* Перекрываем стили как можем ей богу */
finder input
{
	margin: 0 5px 0 0!important; /* Особенно это */
	height: 29px!important;
	line-height: 29px!important;
    border-radius: 4px!important;
	border: 1px solid #343434;
	background-color: #000;
	color: #989899!important;
}

fing
{
	height: 27px!important;
    line-height: 25px;
    border-radius: 4px!important;
	color: #a8b5ba!important;
    background-color: #000!important;
    padding: 0px 7px!important;
    border: 1px solid #343434!important;
	
	cursor: pointer;
}

fing:hover
{
	background-color: #343434!important;
}

smile-list
{
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

smile-list list
{
	margin: 3px 0;
}

smile-list list > *
{
	margin: 0 3px;
	background-color: #000;
    border: 1px solid #343434;
	border-radius: 4px;
    padding: 2px 7px!important;
}

smile-list list > *:first-child
{
	margin: 0 3px 0 0;
}


smile-list list > *:last-child
{
	margin: 0 0 0 3px;
}

list input[name="name"]
{
	width: 84px;
}

list input[name="value"]
{
	width: 100%;
	align-items: center;
}

list red, list del
{
	width: 25px;
	
	display: flex!important;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
}

list red:hover, list del:hover
{
	background-color: #343434!important;
}