/* Стили */

body
{
	--f-color: #989899;
	--f-time-color: #989899;
	--f-background: #1a1a1a;
	--f-chat-background: #282828;
	
	transition: all .3s;
}

.smile-content
{
	display: inline-block!important;
	margin: 3px!important;
}

.smile-content img[role="presentation"]
{
	max-height: 28px;
	max-width: 28px;
	white-space: unset!important;
}

.tabs li.active a, .tabs.no-links li.active
{
	padding-bottom: 0px!important;
}

fullpage
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	color: #fff;
	transition: opacity .3s;
	
	opacity: 0;
	margin-top: -1000%;
}

fullpage
{ z-index: 10000; }


backfon
{
	width: 100%;
	height: 100%;
	
	position: fixed;
	z-index: 10001;
	
	background: rgba(0, 0, 0, .7);
	transition: opacity .3s;
	
	opacity: 0;
}

backfon.loadfrom, backfon.saveto,
backfon.asett, backfon.chan
{
	margin-top: -1000%;
	z-index: 10003;
}

backfon.alert, backfon.savetouser, backfon.wellcome
{
	margin-top: -1000%;
	z-index: 10005;
}

fullpage *
{
	display: flex;
}

fullpage.open, smiles.open,
loadfrom.open, saveto.open, savetouser.open,
alert.open, asett.open, backfon.open,
chan.open, wellcome.open
{
	opacity: 1;
}

fullpage.margin, smiles.margin,
loadfrom.margin, saveto.margin, savetouser.margin,
alert.margin, asett.margin, backfon.margin,
chan.margin, wellcome.margin
{
	margin-top: 0;
}

smiles, loadfrom, saveto, savetouser, asett, alert, chan, wellcome
{
	position: absolute;
	
	width: 600px;
	height: auto;
	max-height: 600px;
	border-radius: 3px;
	
	background: #121215;
	
	flex-direction: column;
	transition: opacity .3s;
	
	opacity: 0;
}

smiles { margin-top: -1000%; z-index: 10002; }
loadfrom, saveto, asett, chan { margin-top: -1000%; z-index: 10004; }
alert, savetouser, wellcome { margin-top: -1000%; z-index: 10006; }

fullpage top
{
	background: #2b2c32;
	border-radius: 3px;
	
	margin: 6px;
	padding: 10px;
	font-size: 16px;
	
	justify-content: space-between;
	align-items: center;
}

fullpage close, fullpage remove
{
	border-radius: 3px;
	padding: 3px;
	margin: 0 3px;
	background: #121215;
}

fullpage middle
{
	height: 100%;
	flex-direction: column;
	
	padding: 10px 16px;
}

@media (max-width: 600px)
{
	smiles, loadfrom, saveto, asett, chan
	{
		width: 100%;
		height: 100%;
	}
	
	alert, savetouser, wellcome
	{
		width: 100%;
	}
	
	fullpage middle
	{
		overflow: auto;
	}
	
	pages page
	{
		width: 100%!important;
	}
}

fullpage pages
{
	padding: 10px 16px;
	justify-content: space-between;
	flex-flow: row wrap;
}

pages page
{
	width: 40%;
	padding: 0px 9px;
	margin: 3px;
	border-radius: 3px;
	background: #2b2c32;
	justify-content: center;
	align-items: center;
}

pages page .page-centered
{
	display: flex;
	align-items: center;
	justify-content: center;
}

fullpage bottom
{
	flex-direction: row;
	padding: 0px 16px 10px;
	justify-content: space-between;
}

fullpage bottom left > *
{
	margin-right: 6px;
}

finder
{
	flex-direction: row;
	align-items: center;
	margin-bottom: 6px;
}

saveto finder
{
	justify-content: space-between;
}

fullpage input[name='name']
{
	width: 100px!important;
}

fullpage input[name="tab"]
{
	width: 125px!important;
}

/* Перекрываем стили как можем ей богу */
fullpage input:not([mode="withoutfone"]), fullpage textarea
{
	margin: 0 5px 0 0!important; /* Особенно это */
	height: 29px!important;
	line-height: 29px!important;
    border-radius: 4px!important;
	border: 1px solid #343434;
	background-color: #000;
	color: #989899!important;
}

fullpage textarea
{
	height: 200px!important;
	max-height: 200px;
    word-break: break-all;
}

fing
{
	height: 27px!important;
    line-height: 25px;
    border-radius: 4px!important;
	color: #a8b5ba!important;
    background-color: #000!important;
    padding: 0px 7px!important;
    border: 1px solid #343434!important;
	
	cursor: pointer;
}

fing:hover
{
	background-color: #343434!important;
}

fullpage smile-settings
{
	display: none;
}

information img
{
	width: 150px;
	height: 150px;
}

fullpage pass
{
	width: 100%;
    padding-left: 6px;
    flex-direction: column;
	
	justify-content: center;
}

fullpage pass > *
{
	align-items: center;
}

fullpage pass t
{
	padding: 3px 9px;
	border-radius: 3px;
	margin: 3px 6px 3px 0;
	background: #2b2c32;
}

fullpage pass confirmation
{
	padding: 3px;
	margin: 3px 6px 3px 0;
}

fullpage pass fing
{
	width: 120px;
	justify-content: center;
}

smile-list
{
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

smile-list tab
{
	flex-direction: column;
	margin-bottom: 5px;
}

smile-list tab.minimized list
{
	display: none;
}

smile-list tab list
{
	margin-left: 20px;
	position: relative;
}

smile-list tab list:before
{
	content: '';
	
    left: -10px;
    bottom: 0;
	
    width: 1px;
    height: 41px;
	
    background: #2b2c32;
    position: absolute;
}

smile-list tab list:last-child:before
{
	content: '';
	
    top: -6px;
	left: -10px;
	
    width: 1px;
    height: 23px;
	
    background: #2b2c32;
    position: absolute;
}

smile-list tab list:after
{
	content: '';
	
    bottom: 0;
    top: 16px;
    left: -10px;
	
    width: 10px;
    height: 1px;
	
    background: #2b2c32;
    position: absolute;
}

smile-list hit
{
	font-size: 14px;
    justify-content: space-between;
    align-items: center;
    background: rgb(43, 44, 50);
    border-radius: 3px;
    margin: 0 3px 3px 0;
    padding: 2px 10px;
}

smile-list list
{
	margin: 3px 0;
	transition: all .4s;
	opacity: 0;
	max-height: 0px;
}

smile-list list.created
{
	opacity: 1;
	max-height: 100px;
}

smile-list list img
{
	max-height: 28px;
	max-width: 28px;
}

smile-list list > *
{
	background-color: #000;
	margin: 0 3px;
    border: 1px solid #343434;
	border-radius: 4px;
    padding: 2px 7px!important;
}

smile-list list > *:first-child
{
	margin: 0 3px 0 0;
}


smile-list list > *:last-child
{
	margin: 0 0 0 3px;
}

list input[name="name"]
{
	width: 84px;
}

list input[name="value"]
{
	width: 100%;
	align-items: center;
}

list red, list del
{
	width: 25px;
	
	display: flex!important;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	text-decoration: none;
}

list red:hover, list del:hover
{
	background-color: #343434!important;
}

chan middle 
{
	align-items: center;
}

chan canedit
{
	width: 100%;
	justify-content: center;
    padding: 5px;
    margin: 6px 0;
    border-radius: 3px;
	background: radial-gradient(circle, rgba(0,101,22,1) 0%, rgba(0,0,0,0) 100%);
	
	cursor: pointer;
	
	transition: background .3s;
}

chan canedit.false
{
    background: radial-gradient(circle, rgba(101,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

chan helper
{
	text-align: center;
}

chan canedit.false ~ finder[name='hiddly']
{ max-height: 0px }

chan finder
{
	max-height: 100px;
	width: 100%;
	overflow: hidden;
	
	transition: all .3s;
}

chan input
{
	width: 50%!important;
	border: none!important;
}

chan finder input:first-child
{
	text-align: right;
	background:  linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)!important;
}

chan finder input:last-child
{
	text-align: left;
	margin: 0!important;
	background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)!important;
}

quotebutton
{
	padding: 5px 10px;
    border-radius: 4px;
	color: #a8b5ba;
    background-color: #000;
    border: 1px solid #343434;
	
	cursor: pointer;
}

asett page[tab] input[name="index"]
{
	width: 45px;
}

asett middle
{
	overflow: auto;
}

fullpage input[mode="withoutfone"]
{
	margin: 5px!important;
	margin-left: 0px!important;
	border: none!important;
	outline: none!important;
	color: #eee!important;
	background: none!important;
	height: 29px!important;
	border-radius: 3px;
	
	transition: all .3s;
}


fullpage input[mode="withoutfone"]:focus
{
    background: #121215!important;
}

smiles finder input[mode="withoutfone"]:focus
{
    background: #0e0e0e!important;
}

category
{
	flex-direction: column;
    position: relative;
}

category listed
{
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    padding: 5px;
	background: #000;
    border-radius: 3px;
    z-index: 10000;
    width: 150%;
	overflow: hidden;
	transition: .4s;
	
	max-height: 0;
	opacity: 0;
}

category listed > *
{
	border-radius: 3px;
	padding: 6px 9px;
	margin: 3px 0;
	border: 1px solid #343434;
	
	cursor: pointer;
}

smiles finder category:hover listed 
{
	max-height: 600px;
	opacity: 1;
}

wellcome
{
	padding: 10px;
    align-items: center;
    text-align: center;
}

wellcome qn
{
	max-height: 0px;
	opacity: 0;
	transition: .4s;
}

.chatMessages > li
{
	display: flex;
}

.chatMessages > li[type="your message"]
{
	justify-content: flex-end;
}

.loggedNick
{
	font-weight: 700;
	background-color: #0a0d12;
	
	padding: 2px;
}

.chatAvatar
{
	display: flex;
	position: absolute;
	
	top: 0;
	padding: 0 1px 12px 0;
}

.chatAvatar av
{
	display: block;
	position: relative;
	
	width: 40px;
	height: 40px;
	border-radius: 3px;
}

.chatAvatar av .avatarController
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	
	position: absolute;
	bottom: 0;
	width: 100%;
	
	background: rgba(0,0,0,.7);
	font-size: 16px;
	
	opacity: 0;
	transition: all .3s;
}

.chatAvatar av .avatarController:hover
{
	opacity: 1;
}

.chatAvatar av .avatarController > *:hover
{
	color: #fff;
}

.fullContentMessage
{
	position: relative;
	
	padding: 3px 8px;
	margin-left: 50px;
	border-radius: 0px 3px 3px 3px;
	
	background: var(--f-background)!important;
}

.chatMessages > li[type="your message"] .fullContentMessage
{
	text-align: right;
}

.chatMessages > li:not(.glued):not([type="your message"]) .fullContentMessage:before
{
    content: '';
	
    background-image: radial-gradient(circle at 0 10px, rgba(204,0,0,0) 9px, var(--f-background) 10px);
    background-size: 10px 10px;
    background-repeat: no-repeat;
	
    width: 10px;
    height: 10px;
	
    top: 0;
    position: absolute;
    left: -10px;
}

.chatMessage
{
	display: block;
}

/* Перекрыл стили, необходимо заменить */

.node .content-info:not(.forumNodeInfo), .content-list .categoryStrip
{
	overflow: visible!important;
}

#chatBlock
{
	background: var(--f-chat-background)!important;
	overflow: visible;
	
	display: flex;
    flex-direction: column;
}

#chatFull
{
	transition: all .4s;
	width: 100%;
	
	color: var(--f-color);
}

#chatFull .chatContainer
{
	border: none!important;
	background: none!important;
	height: 250px!important;
	/* width: calc(100% - 26px)!important; */
	margin: 0 15px 0!important;
	padding: 0!important;
}

#chatFull li
{
	display: flex;
	position: relative;
	overflow: visible!important;
	margin-bottom: 7px;
}

#chatFull li.my
{
	justify-content: flex-end;
}

/* Режим на полный экран, переписать под SCSS */

#chatFull.fullpage
{
	position: fixed;
	margin: 0;
    top: 0;
    left: 0;
	
    height: 100vh;
    z-index: 10000;
	
    background: rgba(0,0,0,.6);
}

#chatFull.fullpage #chatBlock
{
    position: relative;
    display: flex;
    flex-direction: column;
	
	margin: 0;
    height: 100vh;
	width: 100%;
}

#chatFull.fullpage .chatContainer
{
	height: 100vh!important;
}

/* Режим на фиксацию к нижнему краю экрана со сворачиванием */

#chatFull.bottomfixed
{
	position: fixed;
	margin: 0!important;
    bottom: 0;
    left: 0;
	
    z-index: 10000;
	
    background: rgba(0,0,0,.6);
}

#chatFull.bottomfixed #chatBlock
{
    position: relative;
    display: flex;
    flex-direction: column;
	
	margin: 0;
}

#chatFull.bottomfixed .chatContainer
{
	height: 260px!important;
}

#chatFull input
{
	background: none!important;
	border-color: #333!important;
}

#chatFull input:focus
{
	background: #333!important;
}

#chatFull button
{
	background: #333!important;
}

.content-title .right
{
	width: 25px;
	height: 30px;
	
	font-size: 13px;
    margin-top: 10px!important;
	float: right!important;
}

.chatSmile
{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.chatSmile img 
{
	margin: -3px 0;
}

/* Чтобы не смешивать с обычными title назову их так, изменить можно спокойно */
[data-title]
{
    position: relative;
}

[data-title]:after
{
	overflow: hidden;
	z-index: 1000;
	
    position: absolute;
    content: attr(data-title);
	
    background: #000;
    padding: 3px 9px;
	border-radius: 3px;
    bottom: 110%;
	left: -9999px;
	
    color: #fff;
    white-space: nowrap;
	
	opacity: 0;
	
	font-family: "Comic Sans MS", cursive;
	font-size: 13px;
    transition: opacity .3s;
}

[data-title]:hover:after
{
    left: -9px;
	
	opacity: .8;
}

.messageText img[data-smile]
{
	margin: -5px 0;
    vertical-align: middle;
}

.red
{
	color: #971010!important;
}

input.colorpicker
{
	width: 30px!important;
	height: 30px!important;
	padding: 0!important;
}

pages[name="colorpicker"] page
{
	justify-content: space-between!important;
}

#chatFull .date-time
{
	color: var(--f-time-color)!important;
}

.idle-image
{
	position: relative;
	display: inline-flex;
}

.chat-image
{
	max-height: 150px;
	max-width: 600px;
}

.helper:before
{
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	background: #000;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	opacity: 0;
	
	transition: all .2s;
}

.idle-image:hover .helper:before
{
	opacity: .4;
}

alemg
{
	position: fixed;
	display: flex!important;
	top: 0;
	left: 0;
	
	align-items: center;
	justify-content: center;
	
	width: 100vw;
	height: 100vh;
	
	z-index: 10010;
	overflow: hidden;
	
	background: rgba(0, 0, 0, .6) center center;
	background-repeat: no-repeat;
	background-size: contain;
	
	transition: .3s;
	opacity: 0;
}

alemg:before
{
	position: absolute;
	font-size: 32px!important;
	
	animation: rotate 1s linear infinite;
}

alemg.endAnimate:before
{
	opacity: 0;
}

@keyframes rotate
{
	from
	{
		transform: rotate(0deg);
	}
	
	to
	{
		transform: rotate(360deg);
	}
}

alemg img
{
	opacity: 0;
	transition: all .3s;
}

#chatBlock audio
{
	width: 185px!important;
    height: 20px!important;
	filter: invert(93.5%);
}