/* Стили */

.smile-content
{
	display: inline-block!important;
	margin: 3px!important;
}

.smile-content img[role="presentation"]
{
	max-height: 28px;
	max-width: 28px;
	white-space: unset!important;
}

.tabs li.active a, .tabs.no-links li.active
{
	padding-bottom: 0px!important;
}

fullpage
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	color: #fff;
	transition: opacity .3s;
	
	opacity: 0;
	margin-top: -1000%;
}

fullpage
{ z-index: 10000; }


backfon
{
	width: 100%;
	height: 100%;
	
	position: fixed;
	z-index: 10001;
	
	background: rgba(0, 0, 0, .7);
	transition: opacity .3s;
	
	opacity: 0;
}

backfon.loadfrom, backfon.saveto,
backfon.asett, backfon.chan
{
	margin-top: -1000%;
	z-index: 10003;
}

backfon.alert, backfon.savetouser
{
	margin-top: -1000%;
	z-index: 10005;
}

fullpage *
{
	display: flex;
}

fullpage.open, smiles.open,
loadfrom.open, saveto.open, savetouser.open,
alert.open, asett.open, backfon.open,
chan.open
{
	opacity: 1;
}

fullpage.margin, smiles.margin,
loadfrom.margin, saveto.margin, savetouser.margin,
alert.margin, asett.margin, backfon.margin,
chan.margin
{
	margin-top: 0;
}

smiles, loadfrom, saveto, savetouser, asett, alert, chan
{
	position: absolute;
	
	width: 600px;
	height: auto;
	max-height: 600px;
	border-radius: 3px;
	
	background: #121215;
	
	flex-direction: column;
	transition: opacity .3s;
	
	opacity: 0;
}

smiles { margin-top: -1000%; z-index: 10002; }
loadfrom, saveto, asett, chan { margin-top: -1000%; z-index: 10004; }
alert, savetouser { margin-top: -1000%; z-index: 10006; }

fullpage top
{
	background: #2b2c32;
	border-radius: 3px;
	
	margin: 6px;
	padding: 10px;
	font-size: 16px;
	
	justify-content: space-between;
	align-items: center;
}

fullpage close
{
	border-radius: 3px;
	background: #121215;
}

fullpage middle
{
	height: 100%;
	flex-direction: column;
	
	padding: 10px 16px;
}

@media (max-width: 600px)
{
	smiles, loadfrom, saveto, asett, chan
	{
		width: 100%;
		height: 100%;
	}
	
	alert, savetouser
	{
		width: 100%;
	}
	
	fullpage middle
	{
		overflow: auto;
	}
	
	pages page
	{
		width: 100%!important;
	}
}

fullpage pages
{
	padding: 10px 16px;
	justify-content: space-between;
	flex-flow: row wrap;
}

pages page
{
	width: 40%;
	padding: 0px 9px;
	margin: 3px;
	border-radius: 3px;
	background: #2b2c32;
	justify-content: center;
	align-items: center;
}

fullpage bottom
{
	flex-direction: row;
	padding: 0px 16px 10px;
	justify-content: space-between;
}

fullpage bottom left > *
{
	margin-right: 6px;
}

finder
{
	flex-direction: row;
	align-items: center;
	margin-bottom: 6px;
}

saveto finder
{
	justify-content: space-between;
}

fullpage input[name='name']
{
	width: 100px!important;
}

/* Перекрываем стили как можем ей богу */
fullpage input:not([name="withoutfone"]), fullpage textarea
{
	margin: 0 5px 0 0!important; /* Особенно это */
	height: 29px!important;
	line-height: 29px!important;
    border-radius: 4px!important;
	border: 1px solid #343434;
	background-color: #000;
	color: #989899!important;
}

fullpage input[name="withoutfone"]
{
	margin: 5px!important;
	border: none!important;
	outline: none!important;
	color: #eee!important;
	background: none!important;
	height: 29px!important;
	border-radius: 3px;
	
	transition: all .3s;
}


fullpage input[name="withoutfone"]:focus
{
    background: #121215!important;
}

fullpage textarea
{
	height: 200px!important;
	max-height: 200px;
    word-break: break-all;
}

fing
{
	height: 27px!important;
    line-height: 25px;
    border-radius: 4px!important;
	color: #a8b5ba!important;
    background-color: #000!important;
    padding: 0px 7px!important;
    border: 1px solid #343434!important;
	
	cursor: pointer;
}

fing:hover
{
	background-color: #343434!important;
}

fullpage smile-settings
{
	display: none;
}

information img
{
	width: 150px;
	height: 150px;
}

fullpage pass
{
	width: 100%;
    padding-left: 6px;
    flex-direction: column;
	
	justify-content: center;
}

fullpage pass > *
{
	align-items: center;
}

fullpage pass t
{
	padding: 3px 9px;
	border-radius: 3px;
	margin: 3px 6px 3px 0;
	background: #2b2c32;
}

fullpage pass confirmation
{
	padding: 3px;
	margin: 3px 6px 3px 0;
}

fullpage pass fing
{
	width: 120px;
	justify-content: center;
}

smile-list
{
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

smile-list list
{
	margin: 3px 0;
	transition: all .4s;
	opacity: 0;
	max-height: 0px;
}

smile-list list.created
{
	opacity: 1;
	max-height: 100px;
}

smile-list list img
{
	max-height: 28px;
	max-width: 28px;
}

smile-list list > *
{
	background-color: #000;
	margin: 0 3px;
    border: 1px solid #343434;
	border-radius: 4px;
    padding: 2px 7px!important;
}

smile-list list > *:first-child
{
	margin: 0 3px 0 0;
}


smile-list list > *:last-child
{
	margin: 0 0 0 3px;
}

list input[name="name"]
{
	width: 84px;
}

list input[name="value"]
{
	width: 100%;
	align-items: center;
}

list red, list del
{
	width: 25px;
	
	display: flex!important;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
}

list red:hover, list del:hover
{
	background-color: #343434!important;
}

chan middle 
{
	align-items: center;
}

chan canedit
{
	width: 100%;
	justify-content: center;
    padding: 5px;
    margin: 6px 0;
    border-radius: 3px;
	background: radial-gradient(circle, rgba(0,101,22,1) 0%, rgba(0,0,0,0) 100%);
	
	cursor: pointer;
	
	transition: background .3s;
}

chan canedit.false
{
    background: radial-gradient(circle, rgba(101,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

chan helper
{
	text-align: center;
}

chan canedit.false ~ finder
{ max-height: 0px }

chan finder
{
	max-height: 100px;
	width: 100%;
	overflow: hidden;
	
	transition: all .3s;
}

chan input
{
	width: 50%!important;
	border: none!important;
}

chan finder input:first-child
{
	text-align: right;
	background:  linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)!important;
}

chan finder input:last-child
{
	margin: 0!important;
	background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)!important;
}

quotebutton
{
	padding: 5px 10px;
    border-radius: 4px;
	color: #a8b5ba;
    background-color: #000;
    border: 1px solid #343434;
	
	cursor: pointer;
}